<% if logged_in? %>
<%= link_to "Logout!", {controller: "sessions", action: "destroy"}, class: "button small alert" %></li>
<li>  <%= link_to "My profile!", {controller: "users", action: "profile", login: @current_user.login}, class: "button small confirm" %></li>
<% else %>

<% end %>
</li>